<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204656159394-4jkhp5t0uic2rsjuk101tvmnojrbe3kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204656159394-4jkhp5t0uic2rsjuk101tvmnojrbe3kf</string>
	<key>API_KEY</key>
	<string>AIzaSyBQhx8FejToZG-wq00cy6VYIk5UEbJjha0</string>
	<key>GCM_SENDER_ID</key>
	<string>204656159394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xxxcodeTeam.News-App</string>
	<key>PROJECT_ID</key>
	<string>newsappxyx</string>
	<key>STORAGE_BUCKET</key>
	<string>newsappxyx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204656159394:ios:a379af385a982f170685fb</string>
	<key>DATABASE_URL</key>
	<string>https://newsappxyx.firebaseio.com</string>
</dict>
</plist>